body {
	margin: 0;
    font-size: 14px;
	font-size: 12px;
	color: #222222;
  font-family: "Microsoft JhengHei"
}
.el-dialog{
    border-radius: 10px;
}
a,
a:hover {
	text-decoration: none;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.flex-end{
    justify-content: flex-end;
}
.el-header,.el-footer{
    height: auto !important;
}
  
.el-header,.el-footer,.el-main{
    padding: 0;
}
.mgtop-15{
    margin-top: 15px;
}
.middle-center{
    display: flex;
    
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.pointer{
    cursor: pointer;
}
.mg-right-20{
    margin-right: 20px;
}
.mg-top-50{
    margin-top: 50px;
}
.mg-top-25{
    margin-top: 25px;
}
.common-bg{
    background-color: #D7C4A3;
}
.main-wrapper {
    font-size: 18px;
    font-family: "Microsoft JhengHei";
    color: #222222;
    margin-bottom: 80px;
  }
  .title-top {
    margin: 50px 0 20px 0;
    color: #222222;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
  }
  .btn-red{
    height: 50px;
    width: 210px;
    border-radius: 10px;
    background-color: #e70048;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
  }
  .btn-white{
    height: 50px;
    width: 210px;
    border-radius: 10px;
    background-color: #fff;
    color: #E70048;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #E70048;
  }
  .btn-orange{
    height: 50px;
    width: 210px;
    border-radius: 10px;
    background-color: #C77900;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #C77900;
  }
  .return-button {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
    text-decoration: underline;
  }
  .outer {
    padding-top: 161px;
  }